[package]
name = "willow-data-model-fuzz"
version = "0.0.0"
publish = false
edition = "2021"

[package.metadata]
cargo-fuzz = true

[dependencies]
ufotofu = { version = "0.3.0", features=["dev"]}
smol = "2.0.0"
arbitrary = { version = "1.0.2", features = ["derive"] }
libfuzzer-sys = { version = "0.4", features = ["arbitrary-derive"] }


[dependencies.willow-data-model]
path = "../data-model"
features = ["dev"]

[dependencies.earthstar]
path = "../earthstar"

[[bin]]
name = "path"
path = "fuzz_targets/path.rs"
test = false
doc = false
bench = false

[[bin]]
name = "path2"
path = "fuzz_targets/path2.rs"
test = false
doc = false
bench = false

[[bin]]
name = "path3"
path = "fuzz_targets/path3.rs"
test = false
doc = false
bench = false


[[bin]]
name = "path4"
path = "fuzz_targets/path4.rs"
test = false
doc = false
bench = false

[[bin]]
name = "path_successor"
path = "fuzz_targets/path_successor.rs"
test = false
doc = false
bench = false

[[bin]]
name = "path_successor_more"
path = "fuzz_targets/path_successor_more.rs"
test = false
doc = false
bench = false

[[bin]]
name = "path_successor_even_more"
path = "fuzz_targets/path_successor_even_more.rs"
test = false
doc = false
bench = false

[[bin]]
name = "successor_of_prefix"
path = "fuzz_targets/successor_of_prefix.rs"
test = false
doc = false
bench = false

[[bin]]
name = "successor_of_prefix_more"
path = "fuzz_targets/successor_of_prefix_more.rs"
test = false
doc = false
bench = false

[[bin]]
name = "successor_of_prefix_even_more"
path = "fuzz_targets/successor_of_prefix_even_more.rs"
test = false
doc = false
bench = false

[[bin]]
name = "path_encoding"
path = "fuzz_targets/path_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "path_encoding_random"
path = "fuzz_targets/path_encoding_random.rs"
test = false
doc = false
bench = false

[[bin]]
name = "entry_encoding"
path = "fuzz_targets/entry_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "entry_encoding_random"
path = "fuzz_targets/entry_encoding_random.rs"
test = false
doc = false
bench = false

[[bin]]
name = "u8be_encoding"
path = "fuzz_targets/u8be_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "u8be_encoding_random"
path = "fuzz_targets/u8be_encoding_random.rs"
test = false
doc = false
bench = false

[[bin]]
name = "u16be_encoding"
path = "fuzz_targets/u16be_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "u16be_encoding_random"
path = "fuzz_targets/u16be_encoding_random.rs"
test = false
doc = false
bench = false

[[bin]]
name = "u32be_encoding"
path = "fuzz_targets/u32be_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "u32be_encoding_random"
path = "fuzz_targets/u32be_encoding_random.rs"
test = false
doc = false
bench = false

[[bin]]
name = "u64be_encoding"
path = "fuzz_targets/u64be_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "u64be_encoding_random"
path = "fuzz_targets/u64be_encoding_random.rs"
test = false
doc = false
bench = false

[[bin]]
name = "path_rel_path_encoding"
path = "fuzz_targets/path_rel_path_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "path_rel_path_encoding_random"
path = "fuzz_targets/path_rel_path_encoding_random.rs"
test = false
doc = false
bench = false

[[bin]]
name = "entry_rel_entry_encoding"
path = "fuzz_targets/entry_rel_entry_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "entry_rel_entry_encoding_random"
path = "fuzz_targets/entry_rel_entry_encoding_random.rs"
test = false
doc = false
bench = false

[[bin]]
name = "entry_rel_namespace_area_encoding"
path = "fuzz_targets/entry_rel_namespace_area_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "entry_rel_namespace_area_encoding_random"
path = "fuzz_targets/entry_rel_namespace_area_encoding_random.rs"
test = false
doc = false
bench = false

[[bin]]
name = "entry_rel_namespace_range_encoding"
path = "fuzz_targets/entry_rel_namespace_range_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "entry_rel_namespace_range_encoding_random"
path = "fuzz_targets/entry_rel_namespace_range_encoding_random.rs"
test = false
doc = false
bench = false

[[bin]]
name = "area_rel_area_encoding"
path = "fuzz_targets/area_rel_area_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "area_rel_area_encoding_random"
path = "fuzz_targets/area_rel_area_encoding_random.rs"
test = false
doc = false
bench = false

[[bin]]
name = "range3d_rel_range3d_encoding"
path = "fuzz_targets/range3d_rel_range3d_encoding.rs"
test = false
doc = false
bench = false

[[bin]]
name = "range3d_rel_rang3d_encoding_random"
path = "fuzz_targets/range3d_rel_rang3d_encoding_random.rs"
test = false
doc = false
bench = false
